on:
  push:
    branches:
      - master

  # Run tests for any PRs.
  pull_request:

name: test
jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5.2.0
      with:
        go-version: 'stable'
        check-latest: true
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: go test ./...
