on:
  push:
    branches:
      - master

  # Run tests for any PRs.
  pull_request:

name: test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.12.x, 1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2.2.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: go test ./...
